page-statistic {
    .statistic-graph{
        margin: auto;
    }
    .statistic-summary
    {
        text-align: center;
    }
    .topic
    {
        text-align: center;
        margin-top: 20px;
    }
    .calorie-intake-number
    {
        text-align: center;
        font-weight: bold;
        font-size: 19px;
        margin-bottom: 20px;
    }
}
