page-login {
	.circle {
		margin: auto;
    	margin-top: 10%;
        width: 150px;
        height: 150px;
        padding-top: 20%;
        border-radius: 50%;
        font-size: 20px;
        color: #fff;
        line-height: 100px;
        text-align: center;
        background-image: linear-gradient(to right,#FECEA8 0%,#FF847C 100%);
        
    }
    h1{
        text-align: center;
        color:#45171D;
    }
    .padding{
        padding-top: 7% !important;
        padding-bottom: 0% !important;
    }
    .logosize{
        width: 100% !important;  
        height : 100% !important;  
        max-width: 150px !important;  //any size
        max-height: 150px !important; //any size 
        //center img
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .submit {
    	margin-top: 15%;
    }
}
